
/* -----------------------
Base styles
------------------------*/



body
{
	margin: 0;
	padding: 0;
	color: #333;
	background-color: #fff;
	font: 1em/1.2 "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
}

h1,h2,h3,h4,h5,h6
{
	margin: 0 0 .5em;
	font-weight: 500;
	line-height: 1.1;
}

p
{
	margin: 0 0 1.5em;
	line-height: 1.5;
	
}

hr
{
	height: 0;
	margin-top: 1em;
	margin-bottom: 2em;
	border: 0;
	border-top: 1px solid #ddd;
}

a:link { color: royalblue; }
a:visited { color: purple; }
a:hover { color: green; }
a:active { color: red; }

/* -----------------------
Layout styles
------------------------*/

.container
{
	max-width: 70em;
	margin: 0 auto;
}

.header
{
	color: #fff;
	background: royalblue;
	padding: 1em 1.25em;
}

.header-heading { margin: -10px; }

.nav-bar
{
	background: #000;
	padding: 0;
}

.content
{
	overflow: auto;
	padding: 1em 1.25em;
	background-color: #fff;
}

.main, .aside
{
	
	margin-bottom: 1em;
}

.footer
{
	
	color: #fff;
	background: #000;
	padding: 1em 1.25em;
	position: absolute;
	width: 95.5%;
	bottom: 0;
}

/* -----------------------
Nav
------------------------*/

.nav
{
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav li
{
	display: inline;
	margin: 0;
}

.nav a
{
	display: block;
	padding: .7em 1.25em;
	color: #fff;
	text-decoration: none;
	border-bottom: 1px solid gray;
	float: right;
}

.nav a:link { color: white; }
.nav a:visited { color: white; }

.nav a:focus
{
	color: black;
	background-color: white;
}

.nav a:active
{
	color: white;
	background-color: red;
}

/* -----------------------
Single styles
------------------------*/


.dropbtns {
  color: #fff !important;
  background-color: royalblue;
  border-color: #222;
  padding: .5em 1.5em;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: .2em;
  position: absolute;
  text-decoration: none;
  top: 0em;
  margin: 2em;
}
.dropbtn1 {
	left: -20em;
}

.dropbtn2 {
	left: -13em;
}

.dropbtn3 {
	left: -5.5em;
}

.dropdown {
	position: relative;
    display: inline-block;
}

.dropdown-content {
	
    display: none;
    position: absolute;
    background-color: #f9f9f9;
	width: 90px;
	text-align: center;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content1 {
	position: absolute;
	min-width: 90px;
	bottom: -6.45em;
	left: -15em;
}

.dropdown-content2 {
	position: absolute;
	min-width: 90px;
	bottom: -6.45em;
	left: -9em;
}

.dropdown-content3 {
	position: absolute;
	min-width: 90px;
	bottom: -6.45em;
	left: -2.75em;
	
}

.dropdown-content a {
    color: black;
    padding: 2px 6px;
    text-decoration: none;
    display: block;
	
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
	min-width: 90px;
	
}




.btn
{
	color: #fff !important;
	background-color: royalblue;
	border-color: #222;
	display: inline-block;
	padding: .5em 1em;
	margin-bottom: 0;
	font-weight: 400;
	line-height: 1.2;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: .2em;
	bottom: 95px;
	position: absolute;
	text-decoration: none;
}

.btn:active
{
	color: #fff !important;
	background-color: red;
}

/* -----------------------
Wide styles
------------------------*/

@media (min-width: 55em)
{
	.header { padding: 1.5em 3em; }
	.nav-bar { padding: 1em 3em; }
	.content { padding: 2em 3em; padding-bottom: 11em; }

	.main
	{
		float: left;
		width: 35%;
		margin-right: 5%;
		margin-bottom: 1em;
	}

	.aside
	{
		float: left;
		width: 60%;
		margin-bottom: 1em;
	}

	.footer { padding: 1em 2em; }

	.nav li
	{
		display: inline;
		margin: 0 1em 0 0;

	}

	.nav a
	{
		display: inline;
		padding: 0;
		border-bottom: 0;
		margin-right: 35px;
	}
}
