
/*--{ COLOR THEMES }--*/

.color-1 { color: #2980b9; }
.color-2 { color: #2f3c3d; }
.color-1-inverse {
  color: #ffffff;
  background-color: #2980b9;
}
.color-2-inverse {
  color: #ffffff;
  background-color: #2f3c3d;
}



/*--{ UTILITIES }--*/

@media screen and (min-width: 62em) {
  .full-height {
    height: 100%;
    position: relative;
  }
  .sticky-bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }
}
.full-height-sm {
  height: 100%;
  position: relative;
}



/*--{ NAVIGATION }--*/

.navbar {
  /*margin-bottom: 16px;*/
}



/*--{ POSTS }--*/

.post {}
.post > .post-title { font-weight: bold; }
.post > .post-author {}
.post > .post-price { float: right; }



/*--{ MAIN }--*/

.main-content {
  padding-top: 16px;
  height: calc(100% - 60px);
}

html {
  position: relative;
}
body {
  /* Padding bottom by footer height */
  padding-bottom: 60px;
}

#create-post {
  margin-bottom: 16px;
}



/*--{ FOOTER }--*/

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}
.footer .container {
  height: 100%;
}
.footer .footer-text {
  display: inline-block;
  margin-top: 25px;
}
