/* --{ color theme classes }-- */
.color-1 { color: #2980b9; }
.color-2 { color: #2f3c3d; }
.color-1-inverse {
  color: #ffffff;
  background-color: #2980b9;
}
.color-2-inverse {
  color: #ffffff;
  background-color: #2f3c3d;
}

.navbar {
  margin-bottom: 16px;
}

.post {

}
.post > .post-title {
  font-weight: bold;
}
.post > .post-author {

}
.post > .post-price {
 float: right;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}
.footer .container {
  height: 100%;
}
.footer .footer-text {
  display: inline-block;
  margin-top: 25px;
}
